/* Form CSS */
.login{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-cartoon-cute-childrens-day-background-design-day-backgroundholiday-backgroundchild-image_72045.jpg");
    /* background-size: 100% 100%; */
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.myform{
    background-color: lightblue;
    opacity:0.7
}

body {
    color: #000;
    /* overflow-x: hidden; */
    height: 100%;
    /* background-image: linear-gradient(to right, #D500F9, #FFD54F); */
    background-repeat: no-repeat
}

input,
textarea {
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400
}
input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #f81b84 !important;
    outline-width: 0;
    font-weight: 400
}
button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}
.card {
    border-radius: 0;
    border:1px solid black;
    background:#fff;
    /* opacity:0.6; */
}
.card0 {
    width: 100%;
    padding: 40px 30px 10px 30px;
    opacity: unset;
    
}
#logo {
    width: 70px;
    height: 60px
}
.heading {
    margin-bottom: 60px !important
}
::placeholder {
    color: #000 !important;
    opacity: 1
}
:-ms-input-placeholder {
    color: #000 !important
}
::-ms-input-placeholder {
    color: #000 !important
}
.form-control-label {
    font-size: 12px;
    margin-left: 15px
}
.msg-info {
    padding-left: 15px;
    margin-bottom: 30px
}
.btn-color {
    border-radius: 50px;
    color: #fff;
    /* background-image: linear-gradient(to right, #FFD54F, #D500F9); */
    background-color: #6EC4DB;
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px
}
.btn-color:hover {
    color: #fff;
    /* background-image: linear-gradient(to right, #D500F9, #FFD54F); */
    background-image: none;
    background-color: #ff80bd;
    /* font-weight: bold; */
    box-shadow: 10px 10px 10px lightgrey;
}
.btn-white {
    border-radius: 50px;
    color: black;
    background-color:white ;
    padding: 8px 40px;
    cursor: pointer;
    border: 3px solid #ff80bd !important
}
.btn-white:hover {
    color: black;
    /* background-image: linear-gradient(to right, #FFD54F, #D500F9) */
    border: 3px solid #66AB8C !important;
    box-shadow: 10px 10px 10px lightgrey;
}
.btn-small-white {
    border-radius: 50px;
    color: black;
    background-color:white ;
    padding: 8px 20px;
    cursor: pointer;
    border: 3px solid #ff80bd !important
}
.btn-small-white:hover {
    color: black;
    /* background-image: linear-gradient(to right, #FFD54F, #D500F9) */
    border: 3px solid #66AB8C !important;
    box-shadow: 10px 10px 10px lightgrey;
}
a {
    color: #000
}
a:hover {
    color: #000
}
.bottom {
    width: 100%;
    margin-top: 50px !important
}
.sm-text {
    font-size: 15px
}
.app-name:hover{
    text-decoration: none;
}

/*  Toggle Switch  */

.toggleSwitch span span,  .toggleSwitchs span span {
    display: none;
 }  

 .toggleSwitch {
    display: inline-block;
    height: 18px;
    position: relative;
    overflow: visible;
    padding: 0;
    cursor: pointer;
    width: 200px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius:20px;
    height:34px;
/* left: 10px; */
 }
 .toggleSwitchs {
    display: inline-block;
    height: 18px;
    position: relative;
    overflow: visible;
    padding: 0;
    cursor: pointer;
    width: 150px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius:20px;
    height:34px;
    /* left: 3px; */
    /* top: 20px; */
 }
 .toggleSwitch *,.toggleSwitchs * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }
 .toggleSwitch label,
 .toggleSwitch > span {
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
 }
 .toggleSwitchs label,
 .toggleSwitchs > span {
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
 }
 .toggleSwitch input:focus ~ a,
 .toggleSwitch input:focus + label {
    outline: none;
 }
 .toggleSwitchs input:focus ~ a,
 .toggleSwitchs input:focus + label {
    outline: none;
 }
 .toggleSwitch label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
 }
 .toggleSwitchs label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
 }
 .toggleSwitch input,.toggleSwitchs input  {
    position: absolute;
    opacity: 0;
    z-index: 5;
 }
 .toggleSwitch > span,.toggleSwitchs > span {
    position: absolute;
    left: 0;
    width: calc(100% - 6px);
    margin: 0;
    text-align: left;
    white-space: nowrap;
     margin:0 3px;
 }
 .toggleSwitch > span span , .toggleSwitchs > span span{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 50px;
    text-align: left;
    font-size: 0.9em;
    width: auto;
    left: 0;
    top: -1px;
    opacity: 1;
    width:40%;
    text-align: center;
  line-height:34px;
 }
 .toggleSwitch a {
    position: absolute;
    right: 0;
    z-index: 4;
    display: block;
    top: 0px;
    bottom: 3px;
    padding: 0;
    left: 0px;
    width: 52%;
    height: 100%;
    background-color: #f81b84;
    border-radius: 20px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

   
 }
 .toggleSwitchs a {
    position: absolute;
    right: 0;
    z-index: 4;
    display: block;
    top: 0px;
    bottom: 3px;
    padding: 0;
    left: 0px;
    width: 53%;
    height: 100%;
    background-color: #f81b84;
    border-radius: 20px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

   
 }

 .toggleSwitch > span span:first-of-type , .toggleSwitchs > span span:first-of-type{
    color: #FFF;
    opacity: 1;
    left: 0;
    margin: 0;
    width: 50%;
 }
 .toggleSwitch > span span:last-of-type, .toggleSwitchs > span span:last-of-type {
    left:auto;
    right:0;
    color: #999;
    margin: 0;
    width: 50%;
 }
 .toggleSwitch > span:before,.toggleSwitchs > span:before  {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -2px;
    /* background-color: #fafafa;
    border: 1px solid #ccc; */
    border-radius: 30px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
 }
 .toggleSwitch input:checked ~ a ,.toggleSwitchs input:checked ~ a{
    left: calc(50% - 3px);
 }
 .toggleSwitch input:checked ~ span:before , .toggleSwitchs input:checked ~ span:before{
    /* border-color: #0097D1;
    box-shadow: inset 0 0 0 30px #0097D1; */
    right:0px
 }
 .toggleSwitch input:checked ~ span span:first-of-type, .toggleSwitchs input:checked ~ span span:first-of-type  {
    left:0;
    color:#999;
    
 }
 .toggleSwitch input:checked ~ span span:last-of-type ,.toggleSwitchs input:checked ~ span span:last-of-type {
    /* opacity: 1;
    color: #fff;	 */
    color:#FFF;
 }
 /* Switch Sizes */
 .toggleSwitch.large {
    width: 60px;
    height: 27px;
 }
 .toggleSwitch.large a {
    width: 27px;
 }
 .toggleSwitch.large > span {
    height: 29px;
    line-height: 28px;
 }
 .toggleSwitch.large input:checked ~ a {
    left: 41px;
 }
 .toggleSwitch.large > span span {
    font-size: 1.1em;
 }
 .toggleSwitch.large > span span:first-of-type {
    left: 50%;
 }
 .toggleSwitch.xlarge {
    width: 80px;
    height: 36px;
 }
 .toggleSwitch.xlarge a {
    width: 36px;
 }
 .toggleSwitch.xlarge > span {
    height: 38px;
    line-height: 37px;
 }
 .toggleSwitch.xlarge input:checked ~ a {
    left: 52px;
 }
 .toggleSwitch.xlarge > span span {
    font-size: 1.4em;
 }
 .toggleSwitch.xlarge > span span:first-of-type {
    left: 50%;
 }
  /* Switch Sizes */
  .toggleSwitchs.large {
    width: 60px;
    height: 27px;
 }
 .toggleSwitchs.large a {
    width: 27px;
 }
 .toggleSwitchs.large > span {
    height: 29px;
    line-height: 28px;
 }
 .toggleSwitchs.large input:checked ~ a {
    left: 41px;
 }
 .toggleSwitchs.large > span span {
    font-size: 1.1em;
 }
 .toggleSwitchs.large > span span:first-of-type {
    left: 50%;
 }
 .toggleSwitchs.xlarge {
    width: 80px;
    height: 36px;
 }
 .toggleSwitchs.xlarge a {
    width: 36px;
 }
 .toggleSwitchs.xlarge > span {
    height: 38px;
    line-height: 37px;
 }
 .toggleSwitchs.xlarge input:checked ~ a {
    left: 52px;
 }
 .toggleSwitchs.xlarge > span span {
    font-size: 1.4em;
 }
 .toggleSwitchs.xlarge > span span:first-of-type {
    left: 50%;
 }

/*  End Toggle Switch  */


/* Snail CSS */

  @import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900');
  #snell
{
 position:relative;
 top:0;
 width:100%;
}

#eye2
{
animation: swing ease-in-out .5s infinite alternate;
   transform-origin: bottom;
   transform-box: fill-box;
   left: calc(40% - .0rem);
}
#eye1
{
animation: swing ease-in-out .6s infinite alternate;
   transform-origin: bottom;
   transform-box: fill-box;
   left: calc(52% - .0rem);
}@keyframes swing {
   0% { transform: rotate(8deg); }
   100% { transform: rotate(-8deg); }
}